
<h1>NTenadification</h1>

<form method="get" action="/reponse">
	Quel est ton prénom ?
	<input type="text" name="prenom">
	Quel est ton nom ?
	<input type="text" name="nom">
	<input type="submit">
</form>
	
