
<br>

<h1>NTenadification : try it !</h1>

<br>

<form method="get" action="/reponse">
	Quel est ton prénom ?
	<input type="text" name="prenom">
	Quel est ton nom ?
	<input type="text" name="nom">
	<br>
	<br>
	<input type="submit">
</form>

<br>

#lol #ruby #iTerm #Heroku